.table-content th{
  font-family: normal !important;
  font-weight: bolder;
  font-size: 17px;
}

.cart-shiping-update-wrapper a, button {
  font-family: normal !important;
  font-weight: bolder !important;
}

.grand-totall-title, .title-wrap h4{
  font-family: normal !important;
  font-weight: bolder;
  font-size:22px;
}

.header-main {
  background-color: #fff8f4 !important;
}

.breadcrumb-item, .breadcrumb-item a{
  font-family: normal !important;
  font-weight: bolder;
  font-size:20px;
}

.product-name a{
  font-weight: 600 !important;
}

:host /deep/ .ngx-pagination .pagination-next a::after {
  content: none;
}

:host /deep/ .ngx-pagination .pagination-previous a::before {
  content: none;
}

:host /deep/ .ngx-pagination .pagination-previous.disabled::before {
  content: none;
}

:host /deep/ .ngx-pagination .pagination-next.disabled::after {
  content: none;
}

:host /deep/ .ngx-pagination .pagination-next {
  font-weight: bolder;
}

:host /deep/ .ngx-pagination .pagination-previous {
  font-weight: bolder;
}

:host /deep/ .ngx-pagination a:hover {
  background-color: #A5C9CA;
}

:host /deep/ .ngx-pagination a {
  border-radius: 20px;
  background-color: whitesmoke;
}

:host /deep/ .ngx-pagination{
  padding: 7px 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}

:host /deep/ .ngx-pagination .current,
.btn-info {
  background: #eaaa85 !important;
  border-radius: 20px;
}

:host /deep/ .ngx-pagination .current:hover {
  background: #eaaa85 !important;
  border-radius: 20px;
}

input {
  height: 10px;
}
