<!--========================= HEADER ======================================-->


<!--<header>-->
<!--  <div style="background-color: 	rgba(70,63,57,0.5); color: white" class=" py-2">-->
<!--    &lt;!&ndash;  #E5DFDB&ndash;&gt;-->
<!--    <div class="container ">-->
<!--      <div class="row d-flex justify-content-center">-->
<!--        <div class="col-md-2 " style="font-size: 13px; cursor: pointer; font-weight: 600">GIỚI THIỆU</div>-->
<!--        <div class="col-md-2 " style="font-size: 13px; cursor: pointer; font-weight: 600">LỊCH SỬ GIAO DỊCH</div>-->
<!--        <div class="col-md-2" style="font-size: 13px; cursor: pointer; font-weight: 600">KIỂM TRA ĐƠN HÀNG</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr class="m-0 p-0">-->
<!--  <div class="header-main sticky-nav ">-->
<!--    <div class="container position-relative">-->
<!--      <div class="row">-->
<!--        <div class="col-auto align-self-center">-->

<!--          <div class="header-logo">-->
<!--            <a href=""><img src="assets/images/logo/logo.png" alt="Site Logo"/></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col align-self-center d-none d-lg-block">-->
<!--          <div class="main-menu">-->
<!--            <ul>-->
<!--              <li class="dropdown"><a href="#">DANH MỤC SÁCH-->
<!--                &lt;!&ndash;                <i class="fa fa-angle-down"></i>&ndash;&gt;-->
<!--              </a>-->
<!--                <ul class="sub-menu">-->
<!--                  <li *ngFor="let category of categoryList"><a href="#" (click)="getBookByCategory(category,1)">{{category.categoryName}}</a></li>-->
<!--                  &lt;!&ndash;                  <li><a href="#">2</a></li>&ndash;&gt;-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Sách bán chạy</a></li>-->
<!--              <li class="dropdown position-static"><a href="#">CHƯƠNG TRÌNH KHUYẾN MÃI</a>-->
<!--                <ul class="mega-menu d-block">-->
<!--                  <li class="d-flex">-->
<!--                    <ul class="d-block">-->

<!--                      <li class="title"><a href="#">Shop Page</a></li>-->
<!--                      <li><a href="shop-3-column.html">Shop 3 Column</a></li>-->
<!--                      <li><a href="shop-4-column.html">Shop 4 Column</a></li>-->
<!--                      <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>-->
<!--                      <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>-->
<!--                      <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>-->
<!--                      </li>-->
<!--                      <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>-->
<!--                      </li>-->
<!--                      <li><a href="cart.html">Cart Page</a></li>-->
<!--                      <li><a href="checkout.html">Checkout Page</a></li>-->
<!--                    </ul>-->
<!--                    <ul class="d-block">-->
<!--                      <li class="title"><a href="#">product Details Page</a></li>-->
<!--                      <li><a href="single-product.html">Product Single</a></li>-->
<!--                      <li><a href="single-product-variable.html">Product Variable</a></li>-->
<!--                      <li><a href="single-product-affiliate.html">Product Affiliate</a></li>-->
<!--                      <li><a href="single-product-group.html">Product Group</a></li>-->
<!--                      <li><a href="single-product-tabstyle-2.html">Product Tab 2</a></li>-->
<!--                      <li><a href="single-product-tabstyle-3.html">Product Tab 3</a></li>-->
<!--                      <li><a href="single-product-slider.html">Product Slider</a></li>-->
<!--                      <li><a href="single-product-gallery-left.html">Product Gallery Left</a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                    <ul class="d-block">-->
<!--                      <li class="title"><a href="#">Single Product Page</a></li>-->
<!--                      <li><a href="single-product-gallery-right.html">Product Gallery Right</a></li>-->
<!--                      <li><a href="single-product-sticky-left.html">Product Sticky Left</a>-->
<!--                      </li>-->
<!--                      <li><a href="single-product-sticky-right.html">Product Sticky Right</a>-->
<!--                      </li>-->
<!--                      <li><a href="compare.html">Compare Page</a></li>-->
<!--                      <li><a href="wishlist.html">Wishlist Page</a></li>-->
<!--                      <li><a href="my-account.html">Account Page</a></li>-->
<!--                      <li><a href="login.html">Login & Register Page</a></li>-->
<!--                      <li><a href="empty-cart.html">Empty Cart Page</a></li>-->
<!--                    </ul>-->
<!--                    <ul class="d-flex align-items-center p-0 border-0 flex-column justify-content-center">-->
<!--                      <li>-->
<!--                        <a class="p-0" href="shop-left-sidebar.html"><img-->
<!--                          class="img-responsive w-100"-->
<!--                          src="assets/images/banner/menu-banner-2.png" alt=""></a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li class="dropdown "><a href="#">GIẢM GIÁ ĐẶC BIỆT</a>-->
<!--                <ul class="sub-menu">-->
<!--                  <li><a href="blog-grid.html">Blog Grid Page</a></li>-->
<!--                  <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>-->
<!--                  <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>-->
<!--                  <li><a href="blog-single.html">Blog Single Page</a></li>-->
<!--                  <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>-->
<!--                  <li><a href="blog-single-right-sidebar.html">Single Right Sidbar</a>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Header Action Start &ndash;&gt;-->
<!--        <div class="col col-lg-auto align-self-center pl-0">-->
<!--          <div class="header-actions">-->
<!--            &lt;!&ndash; Single Wedge Start &ndash;&gt;-->
<!--            <a href="#" class="header-action-btn" data-bs-toggle="modal" data-bs-target="#searchActive">-->
<!--              <i class="pe-7s-search"></i>-->
<!--            </a>-->
<!--            &lt;!&ndash; Single Wedge End &ndash;&gt;-->
<!--            <div class="header-bottom-set dropdown">-->
<!--              <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i-->
<!--                class="pe-7s-users"></i></button>-->
<!--              <ul class="dropdown-menu dropdown-menu-right">-->
<!--                <li><a class="dropdown-item" href="my-account.html">My account</a></li>-->
<!--                <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>-->
<!--                <li><a routerLink="/login" class="dropdown-item">Sign in</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Wedge Start &ndash;&gt;-->
<!--            <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">-->
<!--              <i class="pe-7s-like"></i>-->
<!--            </a>-->
<!--            &lt;!&ndash; Single Wedge End &ndash;&gt;-->
<!--            <a routerLink="/cart"-->
<!--               class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">-->
<!--              <i class="pe-7s-shopbag"></i>-->
<!--              <span class="header-action-num">01</span>-->
<!--              &lt;!&ndash; <span class="cart-amount">€30.00</span> &ndash;&gt;-->
<!--            </a>-->
<!--            <a href="#offcanvas-mobile-menu"-->
<!--               class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">-->
<!--              <i class="pe-7s-menu"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--          &lt;!&ndash; Header Action End &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->

<!--  Responsive header-->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
  <button class="offcanvas-close"></button>

  <div class="inner customScroll">

    <div class="offcanvas-menu mb-4">
      <ul>
        <li><a href="#"><span class="menu-text">Home</span></a>
          <ul class="sub-menu">
            <li><a href="#"><span class="menu-text">Home 1</span></a></li>
            <li><a href="#"><span class="menu-text">Home 2</span></a></li>
          </ul>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#"><span class="menu-text">Shop</span></a>
        </li>
        <li><a href="#"><span class="menu-text">Blog</span></a>
        </li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <!-- OffCanvas Menu End -->
    <div class="offcanvas-social mt-auto">
      <ul>
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>


<!--================================= END HEADER =================================-->

<body>
<!-- Header Area Start -->

<!-- Header Area End -->
<div class="offcanvas-overlay"></div>

<!-- OffCanvas Wishlist Start -->

<!-- OffCanvas Wishlist End -->
<!-- OffCanvas Cart Start -->

<!-- OffCanvas Cart End -->

<!-- OffCanvas Menu Start -->
<div id="carouselExampleIndicators" class="carousel slider-nav-style-1 slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mt-0 hero-slide-item slider-height swiper-slide d-flex" style="background-color: #fff8f4"
           data-bg-image="assets/images/slider-image/slider-bg-1.jpg">
        <div class="container align-self-center ">
          <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
              <div class="hero-slide-content">
                <h2 class="title-1"
                    style="font-family: 'Copperplate Gothic Bold'; font-weight: bolder; font-size: 50px ">{{bookSlide[0].bookName}}</h2>
                <span class="price">
                                        <span class="old"> <del>{{bookSlide[0].bookPrice}}</del></span>
                                        <span
                                          class="new"> - {{bookSlide[0].bookPrice - bookSlide[0].bookPrice * bookSlide[0].bookPromotionId.promotionPercent / 100 | currency : 'VND'}}</span>
                                    </span>
                <div class="row d-flex justify-content-center button__slide">
                  <!--                  <a [routerLink]="['/detail',bookSlide[0].bookId]" class="btn btn-primary  text-uppercase">Xem-->
                  <!--                    chi tiết</a>-->
                  <a *ngIf="isLoggedIn" (click)="addBook(bookSlide[0])" class="btn btn-primary ml-10px  text-uppercase">Thêm vào giỏ</a>
                  <a *ngIf="!isLoggedIn" routerLink="/cart" class="btn btn-primary ml-10px  text-uppercase">Thêm vào giỏ</a>
                </div>
              </div>
            </div>
            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative">
              <div class="show-case">
                <div class="">
                  <img width="70%" [routerLink]="['/detail',bookSlide[0].bookId]" [src]="bookSlide[0].bookImage"
                       alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mt-0 hero-slide-item slider-height swiper-slide d-flex" style="background-color: #fff8f4"
           data-bg-image="assets/images/slider-image/slider-bg-1.jpg">
        <div class="container align-self-center ">
          <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
              <div class="hero-slide-content">
                <h2 class="title-1"
                    style="font-family: 'Copperplate Gothic Bold'; font-weight: bolder; font-size: 50px  ">{{bookSlide[1].bookName}}</h2>
                <span class="price">
                                              <span class="old"> <del>{{bookSlide[1].bookPrice | currency :'VND'}}</del></span>
                                              <span
                                                class="new"> - {{bookSlide[1].bookPrice - bookSlide[1].bookPrice * bookSlide[1].bookPromotionId.promotionPercent / 100 | currency : 'VND'}}</span>
                                          </span>
                <div class="row d-flex justify-content-center button__slide">
                  <!--                  <a  class="btn btn-primary  text-uppercase">Xem-->
                  <!--                    chi tiết</a>-->
                  <a *ngIf="isLoggedIn" (click)="addBook(bookSlide[1])" class="btn btn-primary ml-10px  text-uppercase">Thêm vào giỏ</a>
                  <a *ngIf="!isLoggedIn" routerLink="/cart" class="btn btn-primary ml-10px  text-uppercase">Thêm vào giỏ</a>
                </div>
              </div>
            </div>
            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative">
              <div class="show-case">
                <div class="">
                  <img width="90%" [routerLink]="['/detail',bookSlide[1].bookId]"
                       src="{{bookSlide[1].bookImage}}"
                       alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="mt-0 hero-slide-item slider-height swiper-slide d-flex" style="background-color: #fff8f4"
           data-bg-image="assets/images/slider-image/slider-bg-1.jpg">
        <div class="container align-self-center ">
          <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
              <div class="hero-slide-content">
                <h2 class="title-1"
                    style="font-family: 'Copperplate Gothic Bold'; font-weight: bolder; font-size: 50px  ">{{bookSlide[2].bookName}}</h2>
                <span class="price">
                                             <span class="old"> <del>{{bookSlide[2].bookPrice}}</del></span>
                                        <span
                                          class="new"> - {{bookSlide[2].bookPrice - bookSlide[2].bookPrice * bookSlide[2].bookPromotionId.promotionPercent / 100 | currency : 'VND'}}</span>
                                    </span>
                <div class="row d-flex justify-content-center button__slide">
                  <!--                  <a [routerLink]="['/detail',bookSlide[2].bookId]" class="btn btn-primary  text-uppercase">Xem-->
                  <!--                    chi tiết</a>-->
                  <a *ngIf="isLoggedIn" (click)="addBook(bookSlide[2])" class="btn btn-primary ml-10px  text-uppercase">Thêm vào giỏ</a>
                  <a *ngIf="!isLoggedIn" routerLink="/cart" class="btn btn-primary ml-10px  text-uppercase">Thêm vào giỏ</a>
                </div>
              </div>
            </div>
            <div
              class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative">
              <div class="show-case">
                <div class="">
                  <img width="80%" [routerLink]="['/detail',bookSlide[2].bookId]"
                       src="{{bookSlide[2].bookImage}}"
                       alt=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" swiper-buttons">
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="swiper-button-prev" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="swiper-button-next" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- OffCanvas Menu End-->

<!-- Product Area Start -->
<div class="product-area">
  <div class="container">
    <!-- Section Title & Tab Start -->
    <div class="row">
      <!-- Section Title Start -->
      <div class="background__img col-12">
        <div class="section-title text-center mt-5 mb-2">
          <h2 class="title" style="font-family: 'Segoe UI'; font-size: 28px; text-transform: uppercase">{{title}}</h2>
        </div>
        <!-- Tab Start -->
        <!-- Tab End -->
      </div>
      <!-- Section Title End -->

    </div>
    <!-- Section Title & Tab End -->

    <div class="row">
      <div class="col">
        <div class="tab-content mt-2">
          <!-- 1st tab start -->
          <div class="tab-pane fade show active" id="tab-jewelry">
            <div class="row">
              <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px"
                   *ngFor="let book of bookBestSell | paginate: {itemsPerPage: size, currentPage: page, totalItems: totalItems}">
                <!-- Single Prodect -->
                <div class="product">
                  <div class="thumb">
                    <a [routerLink]="['/detail',book.bookId]" style="background-color:#f7f8fa" class="image">
                      <img class="container my-5"
                           [src]='book.bookImage'
                           alt="Product"/>
                      <img class="hover-image container my-5"
                           [src]='book.bookImage'
                           alt="Product"/>
                    </a>
                    <span class="badges">
                      <span class="sale"
                            *ngIf="book.bookPromotionId.promotionPercent > 0">- {{book.bookPromotionId.promotionPercent}}
                        %</span>
                      <span *ngIf="book.bookQuantity>0" class="new">Mới</span>
                      <span *ngIf="book.bookQuantity <=0" class="new">Hết</span>
                                            </span>
                    <div class="actions">
                      <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                        class="pe-7s-like"></i></a>
                      <a (click)="getBookDetail(book)" class="action quickview" data-link-action="quickview"
                         title="Chi tiết" data-bs-toggle="modal"
                         data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                      <a *ngIf="isLoggedIn && showAdminBoard" [routerLink]="['/edit',book.bookId]"
                         class="action quickview" data-link-action="quickview"
                         title="Chỉnh sửa"><i class="pe-7s-pen"></i></a>
                      <a (click)="delete(book)" *ngIf="isLoggedIn && showAdminBoard" class="action quickview"
                         data-link-action="quickview"
                         data-bs-toggle="modal" data-bs-target="#delete" title="Xóa"><i
                        class="fa-regular fa-trash-can"></i></a>
                    </div>
                  </div>
                  <div class="content">
                                            <span class="ratings">
                                                <span class="rating-wrap">
                                                    <span class="star" style="width: 100%"></span>
                                                </span>
                                                <span class="rating-num">( 4 Review )</span>
                                            </span>
                    <h5 class="title"><a href="/detail"> {{book.bookName}}
                    </a>
                    </h5>
                    <span class="price">
                                                <span
                                                  class="new">{{book.bookPrice - book.bookPrice * book.bookPromotionId.promotionPercent / 100 | currency :'VND'}}</span>
                                            </span>
                  </div>
                  <button *ngIf="isLoggedIn" (click)="addBook(book)" title="Add To Cart" class=" add-to-cart">THÊM VÀO GIỎ</button>
                  <button *ngIf="!isLoggedIn" routerLink="/cart" title="Add To Cart" class=" add-to-cart">THÊM VÀO GIỎ</button>
                </div>
              </div>
              <!--              <div class="d-flex justify-content-center load__more" *ngIf=" page*8 < bookList.length">-->
              <!--                <button class="btn" style="height: 40px; width: 100px " (click)="page = page + 0.5">Xem thêm-->
              <!--                </button>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="totalItems > 8 " style="display: flex; justify-content: center; align-items: center">
      <pagination-controls nextLabel=">" previousLabel="<"
                           (pageChange)="getBookBestSellList($event)"></pagination-controls>
    </div>
  </div>
</div>

<!-- Product Area End -->

<!-- Feature Area Srart -->
<div class="feature-area pt-100px">
  <div class="container">
    <div class="feature-wrapper">
      <div class="single-feture-col">
        <!-- single item -->
        <div class="single-feature">
          <div class="feature-icon">
            <img src="assets/images/icons/1.png" alt="">
          </div>
          <div class="feature-content">
            <h4 class="title">Miễn phí giao hàng</h4>
            <span class="sub-title">Giới hạn ở mức $ 39 cho mỗi đơn đặt hàng</span>
          </div>
        </div>
      </div>
      <!-- single item -->
      <div class="single-feture-col ">
        <div class="single-feature">
          <div class="feature-icon">
            <img src="assets/images/icons/2.png" alt="">
          </div>
          <div class="feature-content">
            <h4 class="title">Thanh toán bằng thẻ</h4>
            <span class="sub-title">Trả góp 12 tháng</span>
          </div>
        </div>
      </div>
      <!-- single item -->
      <div class="single-feture-col">
        <div class="single-feature">
          <div class="feature-icon">
            <img src="assets/images/icons/3.png" alt="">
          </div>
          <div class="feature-content">
            <h4 class="title">Trả hàng dễ dàng</h4>
            <span class="sub-title">Tự tin mua sắm</span>
          </div>
        </div>
        <!-- single item -->
      </div>
    </div>
  </div>
</div>
<!-- Feature Area End -->


<!-- Deal Area Start -->
<div class="deal-area pb-100px pt-100px">
  <div class="container ">
    <div class="row">
      <div class="col-12">
        <div class="deal-inner deal-bg position-relative ptb-80px"
             data-bg-image="assets/images/deal-img/deal-bg.jpg">
          <div class="deal-wrapper">
            <h3 class="title">{{bookBestSale[0].bookName}} <br>
              <span style="font-size: 25px">Giảm giá</span><span class="new"
                                                                 style="font-style: italic">  - {{bookBestSale[0].bookPromotionId.promotionPercent}}
                % </span></h3>
            <span class="price">
                                <span class="old"> <del>{{bookBestSale[0].bookPrice | currency :'VND'}}</del></span>
                                <span
                                  class="new"> - {{bookBestSale[0].bookPrice - bookBestSale[0].bookPrice * bookBestSale[0].bookPromotionId.promotionPercent / 100 | currency :'VND'}}</span>
                            </span>
            <a *ngIf="isLoggedIn" (click)="addBook(bookBestSale[0])" class="btn btn-lg btn-primary">Thêm vào giỏ</a>
            <a *ngIf="!isLoggedIn" routerLink="/cart" class="btn btn-lg btn-primary">Thêm vào giỏ</a>
          </div>
          <div class="deal-image d-flex justify-content-end">
            <img [routerLink]="['/detail',bookBestSale[0].bookId]" class="img-fluid "
                 style="border-radius: 10px; margin-right: 20px; margin-top: 20px" width="56%"
                 [src]="bookBestSale[0].bookImage" alt="">
            <!--                [src]="bookBestSale[0].bookImage"-->
            <div class="discount">
              <h3>{{bookBestSale[0].bookPromotionId.promotionPercent}}%</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Deal Area End -->

<!-- Product Area Start -->
<!-- Product Area End -->

<!-- Testimonial Area Start -->
<div class="banner-area-2">
  <div class="container">
    <div class="row m-0">
      <div class="col-md-6 p-0">
        <div [routerLink]="['/detail',bookBestSale[1].bookId]" class="single-banner nth-child-1">
          <img style="object-fit: cover" width="550px" height="550px" [src]="bookBestSale[1].bookImage" alt="">
          <!--              <img src="assets/images/banner/4.jpg" alt="">-->
          <div class="banner-content nth-child-1">
            <span class="category">Giảm giá lớn</span>
            <span class="title">{{bookBestSale[1].bookName}} <br>
                                </span>
<!--            <a *ngIf="isLoggedIn" (click)="addBook(bookBestSale[1])" class="shop-link btn btn-primary text-uppercase">Thêm vào giỏ</a>-->
<!--            <a routerLink="/cart" class="shop-link btn btn-primary text-uppercase">Thêm vào giỏ</a>-->
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 ">
        <div class="single-banner nth-child-2 mb-lm-30px mt-lm-30px">
          <img [routerLink]="['/detail',bookBestSale[2].bookId]" style="object-fit: cover" width="550px" height="275px"
               [src]="bookBestSale[2].bookImage" alt="">
          <div class="banner-content nth-child-2 pt-5">
            <span class="category">Giảm giá lớn </span>
            <span class="title">{{bookBestSale[2].bookName}} <br>
                              - {{bookBestSale[2].bookPromotionId.promotionPercent}}%</span>
<!--            <a *ngIf="isLoggedIn" (click)="addBook(bookBestSale[2)" class="shop-link btn btn-primary text-uppercase">Thêm vào giỏ</a>-->
<!--            <a routerLink="/cart" class="shop-link btn btn-primary text-uppercase">Thêm vào giỏ</a>-->
          </div>
        </div>
        <div [routerLink]="['/detail',bookBestSale[3].bookId]" class="single-banner nth-child-3">
          <img style="object-fit:cover" width="550px" height="275px" [src]="bookBestSale[3].bookImage" alt="">
          <div class="banner-content nth-child-3">
            <span class="category" style="color: white">Giảm giá lớn</span>
            <span class="title" style="color: white">{{bookBestSale[3].bookName}} <br>
                                - {{bookBestSale[3].bookPromotionId.promotionPercent}}%</span>
<!--            <a *ngIf="isLoggedIn" (click)="addBook(bookBestSale[3])" class="shop-link btn btn-primary text-uppercase">Thêm vào giỏ</a>-->
<!--            <a routerLink="/cart" class="shop-link btn btn-primary text-uppercase">Thêm vào giỏ</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Area End -->


<!--  Blog area Start -->
<div class="pb-70px pt-70px"></div>
<!--  Blog area End -->


<!-- Footer Area Start -->

<!-- Footer Area End -->

<!-- Search Modal Start -->
<div class="modal popup-search-style" id="searchActive">
  <button type="button" class="close-btn" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
  <div class="modal-overlay">
    <div class="modal-dialog p-0" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Tìm tên sản phẩm</h2>
          <!--              <form class="navbar-form position-relative" role="search">-->
          <div class="navbar-form position-relative" role="search">
            <div class="form-group">
              <input type="text" #name class="form-control" placeholder="Tìm ở đây...">
            </div>
            <!--                <button type="submit" (click)="searchBookByName(name.value,page)" class="submit-btn"><i class="pe-7s-search"></i></button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Search Modal End -->


<!-- Modal detail -->
<div class="modal modal-2 fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       [src]="bookDetail.bookImage" alt="">
                </div>
              </div>
            </div>
            <!--                <div class="swiper-container gallery-thumbs mt-20px">-->
            <!--                  <div class="swiper-wrapper">-->
            <!--                    <div class="swiper-slide">-->
            <!--                      <img class="img-responsive m-auto"-->
            <!--                           [src]="bookDetail.bookImage" alt="">-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
            <div class="product-details-content quickview-content">
              <h2>{{bookDetail.bookName}}</h2>
              <div class="pricing-meta">
                <ul class="d-flex">
                  <li
                    class="new-price"> {{bookDetail.bookPrice - bookDetail.bookPrice * bookDetail.bookPromotionId.promotionPercent / 100 | currency:'VND'}}</li>
                  <li class="old-price" *ngIf="bookDetail.bookPromotionId.promotionPercent > 0">
                    <del>{{bookDetail.bookPrice | currency : 'VND'}}</del>
                  </li>
                </ul>
              </div>
              <div class="pro-details-rating-wrap">
                <div class="rating-product">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
              </div>
              <div class="stock mt-30px">
                    <span class="avallabillty" *ngIf="bookDetail.bookQuantity">Tình trạng: <span class="in-stock"><i
                      class="fa fa-check"></i>Trong kho</span></span>
                <span class="avallabillty" *ngIf="bookDetail.bookQuantity <= 0">Tình trạng: <span
                  class="in-stock"><i
                  class="fa fa-check"></i>Hết hàng</span></span>
              </div>
              <p class="mt-20px mb-0">
                Mã sản phẩm: <span>{{bookDetail.bookCode}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Tác giả: <span>{{bookDetail.bookAuthorId.authorName}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Dịch giả: <span>{{bookDetail.bookTranslator}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Nhà sản xuất: <span>{{bookDetail.bookPublisher}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Số trang: <span>{{bookDetail.bookTotalPage}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Kích thước: <span>{{bookDetail.bookSize}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Ngày phát hành: <span>{{bookDetail.bookPublishDate | date : 'dd-MM-yyyy'}}</span>
              </p>
              <div class="pro-details-quality">
<!--                <div class="cart-plus-minus">-->
<!--                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1"/>-->
<!--                </div>-->
                <div *ngIf="isLoggedIn" (click)="addBook(bookDetail)" class="pro-details-cart">
                  <button class="add-cart"> THÊM VÀO GIỎ
                  </button>
                </div>
                <div *ngIf="!isLoggedIn" routerLink="/cart" class="pro-details-cart">
                  <button class="add-cart"> THÊM VÀO GIỎ
                  </button>
                </div>
                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                  <a><i class="pe-7s-like"></i></a>
                </div>
              </div>
              <div class="pro-details-categories-info pro-details-same-style d-flex">
                <span>Danh mục: </span>
                <ul class="d-flex">
                  <li>
                    <a href="#">{{bookDetail.bookCategoryId.categoryName}} </a>
                  </li>
                </ul>
              </div>
              <div class="pro-details-social-info pro-details-same-style d-flex">
                <span>Chia sẻ: </span>
                <ul class="d-flex">
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <div class="payment-img">
                <a href="#"><img src="assets/images//icons/payment.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--================== Modal delete ===========================-->
<div class="modal modal-2 fade" id="delete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto"
                       [src]="bookDetail.bookImage" alt="">
                </div>
              </div>
            </div>
            <!--                <div class="swiper-container gallery-thumbs mt-20px">-->
            <!--                  <div class="swiper-wrapper">-->
            <!--                    <div class="swiper-slide">-->
            <!--                      <img class="img-responsive m-auto"-->
            <!--                           [src]="bookDetail.bookImage" alt="">-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
          </div>
          <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
            <div class="product-details-content quickview-content">
              <h2>{{bookDetail.bookName}}</h2>
              <div class="pricing-meta">
                <ul class="d-flex">
                  <li
                    class="new-price"> {{bookDetail.bookPrice - bookDetail.bookPrice * bookDetail.bookPromotionId.promotionPercent / 100 | currency:'VND'}}</li>
                  <li class="old-price" *ngIf="bookDetail.bookPromotionId.promotionPercent > 0">
                    <del>{{bookDetail.bookPrice | currency : 'VND'}}</del>
                  </li>
                </ul>
              </div>
              <div class="pro-details-rating-wrap">
                <div class="rating-product">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
              </div>
              <div class="stock mt-30px">
                    <span class="avallabillty" *ngIf="bookDetail.bookQuantity">Tình trạng: <span class="in-stock"><i
                      class="fa fa-check"></i>Trong kho</span></span>
                <span class="avallabillty" *ngIf="bookDetail.bookQuantity <= 0">Tình trạng: <span
                  class="in-stock"><i
                  class="fa fa-check"></i>Hết hàng</span></span>
              </div>
              <p class="mt-20px mb-0">
                Mã sản phẩm: <span>{{bookDetail.bookCode}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Tác giả: <span>{{bookDetail.bookAuthorId.authorName}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Dịch giả: <span>{{bookDetail.bookTranslator}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Nhà sản xuất: <span>{{bookDetail.bookPublisher}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Số trang: <span>{{bookDetail.bookTotalPage}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Kích thước: <span>{{bookDetail.bookSize}}</span>
              </p>
              <p class="mt-lg-1 mb-0">
                Ngày phát hành: <span>{{bookDetail.bookPublishDate | date : 'dd-MM-yyyy'}}</span>
              </p>
              <div class="pro-details-quality">
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1"/>
                </div>
                <div routerLink="/cart" class="pro-details-cart">
                  <button class="add-cart"> THÊM VÀO GIỎ
                  </button>
                </div>
                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                  <a><i class="pe-7s-like"></i></a>
                </div>
              </div>
              <div class="pro-details-categories-info pro-details-same-style d-flex">
                <span>Danh mục: </span>
                <ul class="d-flex">
                  <li>
                    <a href="#">{{bookDetail.bookCategoryId.categoryName}} </a>
                  </li>
                </ul>
              </div>
              <div class="pro-details-social-info pro-details-same-style d-flex">
                <span>Chia sẻ: </span>
                <ul class="d-flex">
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
              <div class="payment-img">
                <a href="#"><img src="assets/images//icons/payment.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
