edit
edit
edit
edit
edit
edit
edit
edit
edit
edit
<!--<div class="container">-->
<!--  <form [formGroup]="bookEditForm" *ngIf="bookEditForm" (ngSubmit)="edit(idBook)" class="mb-5">-->
<!--    <div class="ml-2">-->
<!--      <div>-->
<!--        <label for="file"><img class="fa-paper-plane" width="20%"-->
<!--                               [src]="oldAvatarLink"-->
<!--                               alt="error">-->
<!--        </label>-->
<!--        <div class="text-center">-->
<!--          <input type="file" name="file" id="file" class="inputFile" (change)="getAvatar($event)"/>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="h4 d-flex justify-content-center">-->
<!--        <h4 style="color: #270082">Cập nhật sách</h4>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="code">Mã nhân viên:</label>-->
<!--        <input id="code" type="text" formControlName="bookName">-->
<!--        <div>-->
<!--&lt;!&ndash;          <p class="text-warning" *ngIf="employeeForm.get('employeeCode').hasError('required') && employeeForm.get('employeeCode')?.touched">Mã nhân viên không được để trống</p>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="text-warning" *ngIf="employeeForm.get('employeeCode').hasError('pattern') && employeeForm.get('employeeCode')?.touched">Mã nhân viên chưa đúng định dạng - Ví dụ: MNV-000</p>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="name">Họ và tên:</label>-->
<!--        <input id="name" type="text" formControlName="bookContent">-->
<!--&lt;!&ndash;        <div>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="text-warning" *ngIf="employeeForm.get('employeeName').hasError('maxlength') && employeeForm.get('employeeName')?.touched">Họ và tên chỉ chứa tối đa 50 kí tự</p>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="text-warning" *ngIf="employeeForm.get('employeeName').hasError('required') && employeeForm.get('employeeName')?.touched">Họ và tên không được để trống</p>&ndash;&gt;-->
<!--&lt;!&ndash;          <p class="text-warning" *ngIf="employeeForm.get('employeeName').hasError('pattern') && employeeForm.get('employeeName')?.touched">Họ và tên chưa đúng định dạng in hoa kí tự đầu - Ví dụ: Nguyễn Văn A</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="address">Địa chỉ: </label>-->
<!--        <input id="address" type="text" formControlName="employeeAddress">-->
<!--        <div>-->
<!--          <p class="text-warning" *ngIf="employeeForm.get('employeeAddress').hasError('maxlength') && employeeForm.get('employeeAddress')?.touched">Địa chỉ chứa tối đa 50 kí tự</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label class="title" style="">Giới tính: </label>-->
<!--        <div class="child">-->
<!--          <input type="radio" id="male" formControlName="employeeGender" value="Nam">-->
<!--          <label for="male">Nam</label>-->
<!--          <input class="ml-4" type="radio" formControlName="employeeGender" id="female" value="Nữ">-->
<!--          <label for="female">Nữ</label>-->
<!--          <input class="ml-4" type="radio" formControlName="employeeGender" id="others" value="Khác">-->
<!--          <label for="others">Khác</label>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="phone">Số điện thoại: </label>-->
<!--        <input id="phone" type="text" formControlName="employeePhone">-->
<!--        <div>-->
<!--          <p class="text-warning" *ngIf="employeeForm.get('employeePhone').hasError('pattern') && employeeForm.get('employeePhone')?.touched">Số điện thoại chưa đúng định dạng 03x hoặc 05x hoặc 07x hoặc 08x hoặc 09x</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="birthday">Ngày sinh: </label>-->
<!--        <input id="birthday" type="date" formControlName="employeeDateOfBirth">-->
<!--        <div>-->
<!--          <p class="text-warning" *ngIf="employeeForm.get('employeeDateOfBirth').hasError('pattern') && employeeForm.get('employeeName')?.touched">Ngày sinh phải đúng định dạng năm-tháng-ngày</p>-->
<!--          <p class="text-warning" *ngIf="employeeForm.get('employeeDateOfBirth').hasError('invalidAge') && employeeForm.get('employeeDateOfBirth')?.touched">Tuổi phải lớn hơn 18</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="salary">Lương:</label>-->
<!--        <input id="salary" type="text" formControlName="employeeSalary">-->
<!--        <div>-->
<!--          <p class="text-warnng" *ngIf="employeeForm.get('employeeName').hasError('required') && employeeForm.get('employeeName')?.touched">Lương không được để trống</p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="input-group">-->
<!--        <label for="position">Chức vụ</label>-->
<!--        <select id="position" formArrayName="employeePositionId">-->
<!--          <option *ngFor="let item of positions" [ngValue]="item" [selected]="item.positionName == test" value="item.positionName">-->
<!--            {{item.positionName}}-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class=" button__container d-flex justify-content-between mt-5">-->
<!--        <button type="submit" class="bt btn__primary" [disabled]="employeeForm.invalid" >Cập nhật</button>-->
<!--        <button type="button" class="bt btn__delete" [routerLink]="['/employee/list']">Quay về</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--<notifier-container></notifier-container>-->
